---
import type { CollectionEntry } from 'astro:content'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import Jumbotron from '../components/jumbotron.astro'
import GTimeline from '../components/gtimeline.astro'
import CTA from '../components/cta.astro'
import image from '../assets/site/retirementahead.jpg'

const frontmatter: CollectionEntry<'page'>['data'] = {
  title: SiteMetadata.title,
  description: SiteMetadata.description,
  image: image
}
---

<Base frontmatter={frontmatter}>
  <main class='bg-white dark:bg-gray-900'>
    <Jumbotron />
    <GTimeline />
  </main>
  <CTA />
  <div class='bg-white p-24 dark:bg-black md:p-12'></div>
</Base>
