---

---

<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h2
        class="mb-4 text-4xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
      >
        Join AIR today
      </h2>
      <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">
        Membership of AIR is open to anyone over 50 who is or planning to be fully or partly
        self-funded in their retirement.
      </p>
      <a
        href="https://www.independentretirees.com/membership/join-air"
        class="mb-2 mr-2 rounded-lg bg-orange-500 px-5 py-2.5 text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
        >Join</a
      >
    </div>
  </div>
</section>
