---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

interface Props {
  images: ImageMetadata[]
}
const { images } = Astro.props
---

<div class="columns-1 gap-8 lg:columns-2">
  {
    images.map((image) => (
      <div>
        <Image class="rounded-lg" src={image} alt={image.src} />
      </div>
    ))
  }
</div>
