---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

interface Props {
  images: ImageMetadata[]
}
const { images } = Astro.props
---

<div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
  {
    images.map((image) => (
      <div class="h-auto max-w-full">
        <Image class="rounded-lg" src={image} alt={image.src} />
      </div>
    ))
  }
</div>
