---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Navbar from '../../components/navbar.astro'
import Footer from '../../components/footer.astro'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const meetings = await getCollection('meetings')
  return meetings.map((meeting) => ({
    params: { slug: meeting.slug },
    props: { meeting: meeting }
  }))
}

// 2. When it's time to render, you can get the entry directly from the prop
const { meeting } = Astro.props
const { Content } = await meeting.render()
---

<Layout title={meeting.data.title || ''}>
  <Navbar />
  <main class="bg-white pb-16 pt-8 antialiased dark:bg-gray-900 lg:pb-24 lg:pt-16">
    <div class="mx-auto flex max-w-screen-xl justify-between px-4">
      <article
        class="format format-sm format-blue mx-auto w-full max-w-2xl dark:format-invert sm:format-base lg:format-lg"
      >
        <Content />
      </article>
    </div>
  </main>
  <Footer />
</Layout>
