---
import Layout from './Layout.astro'
import Navbar from '../components/navbar.astro'
import Footer from '../components/footer.astro'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <Navbar />
  <main class="format format-yellow mx-auto my-8 max-w-screen-xl lg:format-lg">
    <slot />
  </main>
  <Footer />
</Layout>
